body{
    background-color: black;
}



/*****BARRA DE NAVEGACION******/




.header{
    display: flex;
    background-color: gray;
    margin: 0 0 0 0;
    padding: 0.5em 0.5em 0.5em 0.5em;
    justify-content: space-between;
}

.navegation{
    display: flex;
    gap: 2em;
}
.navegation h1{
    font-family: cursive;
    font-size: 2em;
    background-color: red;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.navegation nav{
margin: auto;
}
.navegation ul{
    display: flex;
    gap: 1.5em;
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.navegation li{
font-size: 1.5em;
font-family: cursive;
}
.url{
    text-decoration: none !important;
    color: black;
    padding: 0.3em 0.3em 0.3em 0.3em;
}
.url:hover{
    color: white;
    border-color: white;
    border: 1px solid white;
    border-radius: 0.5em;
}

.header div{
    display: flex;
    gap: 2em;
    padding: 0.5em 2em 0.5em 0.5em;
}

.header div img{
    width: 2em;
    height: 2em;
    border-radius: 0.5em;
    margin: auto; /*Centra la imagen totalmente*/
}

.header div img:hover{
    box-shadow: 0 0 1em white;
    transform: scale(1.5);
}





/***********ESTRENOS EN LA PLATAFORMA********/





.comingSoon{
   display: flex;
   position: relative;
   width: 100%;
   height: 45em;
   margin-top: 1em;
   justify-content: space-between;
   overflow: hidden;
}
.comingPoster {
    position: relative;
    width: 100%; 
    height: 100%;
}
.comingPoster img {
    position: relative;
    width: 100%; 
    height: 100%;
    object-fit: cover; 
}

.comingAge{
    display: flex;
    position: absolute;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    z-index: 1;
    background-color:gray;
    margin-top: 2em;
    left: 79%;
    width: 25em;
    
}

.comingAge h1{
    font-family:'Times New Roman', Times, serif;
    margin: auto;
    font-size: 1.3em;
    color: white;

}
.comingMovie{
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    align-items: center;
    z-index: 1;
    bottom: 25%;
    left: 6.7%;
    width: 30em;
    height: 16em;
    border-radius: 0.8em;
    gap: 1.3em;
}

.comingMovie h2{
    margin-top: 0.5em;
    font-family: fantasy;
    background-color: rgb(27, 130, 221);
    width: fit-content;
}
.title{
    font-size: 2em;
    color: rgb(241, 235, 235);
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.comingMovie p{
    text-align: left;
    margin-left: 0.5em;
    font-size: 1.5em; 
    color: darkgray;
    transition: 2s;
}
.comingMovie p:hover{
    color:white;
    transform: scale(1.1);
}

.comingDetails{
    position: absolute;/*Clave 1 para sobre posición*/ 
    text-align: justify;
    z-index: 1;/*Clave 2 para sobre posición*/ 
    bottom: 10%;
    left: 7%;
    overflow: hidden;/*Un detalle mas es que vamos a necesitar el overflow hidden cuando queramos que lo que excede no aparezca*/
}

.comingDetails ul{
    display: flex;
    gap : 2em;
    padding: 1em 1em 1em 1em;
}
.buttonDetails1{
    width: 15em;
    height: 5em;
    border-radius: 0.8em;
    background-color: black;
    border: 1px solid white;
}
.buttonDetails2{
    width: 15em;
    height: 5em;
    border-radius: 0.8em;
    background-color: darkgray;
    border: 1px solid white;
}
.buttonDetails1 p{
font-size: 1.5em;
font-family: fantasy;
color: white;
}
.buttonDetails2 p{
    font-size: 1.5em;
    font-family: fantasy;
    color: black;
    }
.buttonDetails1:hover{
    box-shadow: 0 0 1em white;   
}

/****************************************************************************************************************************/


.moviesContainer{
    position: relative; 
    width: 100%;
    height: 100%;
    padding: 2em 4em 2em 4em; ; 
    display: flex; 
    align-content:center;
    justify-content:space-around;
    margin-top: 1em;
    margin-bottom: 1em;
    flex-wrap: wrap;
}

.movieCard{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    text-align: center;
    width: 25em;
    height: 18em;
    border-radius: 1.5em;
    border: 2px solid white;
    margin: 1em 0 1em 0; 
    overflow: hidden;
    transition: 1s;
}

.movieCard:hover{
    transform: scale(1.3);
    z-index: 2;
}

.poster{
    position:relative;
    width: 100%; 
    height: 100%;
    object-fit: cover;
}

.button1{ /*tienen que estar antes del details sino NO LO TOMA!!!!*/
    width: 6em;
    height: 2em;
    border-radius: 0.8em;
    background-color: black;
    border: 1px solid white;
    color: white;
    font-family: fantasy;
}
.button2{ /*tienen que estar antes del details sino NO LO TOMA!!!!*/
    width: 6em;
    height: 2em;
    border-radius: 0.8em;
    background-color: lightblue;
    border: 1px solid white;
    font-family: fantasy;
}

.button1:hover{
    box-shadow: 0 0 1em white;
}

.button2:hover{
    box-shadow: 0 0 1em white;
}



.details {
    position: absolute; 
    flex-direction: column;
    display: flex;
    bottom: -100%; 
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 1.5em 1.5em 2em;
    background-color: #000a;  
    transition: 2s; 
    color: #fff; 
    z-index: 1; 
    gap: 0.5em;
}

.movieCard:hover .details { /*El hover va sobre el elemento padre o hijo por donde pasará el cursor, seguido va qué elemento va a cambiar*/
    bottom: -30%; 
};


/*---------------------------------------------------------------------------------------------------------------------*/

